<div class="wrapper ">
	<app-land-sidebar></app-land-sidebar>
  <!--  Mid section  -->
	<div class="main-panel">
     <!-- Navbar -->
		<app-land-nav></app-land-nav>
		<div class="content">
			<div class="messageSectiobn container">
				<div class="row">
					<div class="col-sm-6">
						<div class="tenentList">
							<h4 class="tenaHead">Tenant List</h4>
							<div class="listTenant">
								<h5 class="activeText">Ranjit Zolkar</h5>
								<h5>Ashok Bhanuse</h5>
								<h5>Sachin Labhade</h5>
								<h5>parasram shinde</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="tenentList">
							<h4 class="tenaHead">Tenant List</h4>
							<div class="listTenant">
								<div class="radio radioDiv">
									<label><input type="radio" name="optradio"> Physics</label>
								</div> 
								<div class="radio radioDiv">
									<label><input type="radio" name="optradio"> Chem </label>
								</div>
								<div class="radio radioDiv">
									<label><input type="radio" name="optradio"> Bio </label>
								</div>
								<div class="radio radioDiv">
									<label><input type="radio" name="optradio"> Eng </label>
								</div>
							
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
 
	</div>
</div>
